
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
            
           // ライブラリのロード
           // name:visualization(可視化),version:バージョン(1),packages:パッケージ(corechart)
           google.load('visualization', '1', {'packages':['corechart']});     
                    
           // グラフを描画する為のコールバック関数を指定
           google.setOnLoadCallback(drawChart);
            
           // グラフの描画   
           function drawChart() {         
                   
           // 配列からデータの生成
             var data = google.visualization.arrayToDataTable([
               ['学部'   , '%'],
               ['外国語(英米・ドイツ)' , 2 ],
               ['国際教養' , 2 ],
               ['経営' ,  1 ],
               ['人文' , 1 ]
             ]);
            
              
               // オプションの設定
             var options = {
               title: 'Certificationセクションの学部別算出  ( 単位：% )',
               is3D: true
             };          
                         
                      
               
                             
               // 指定されたIDの要素に円グラフを作成
             var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
                 
             // グラフの描画
             chart.draw(data, options);
             
             // onReSizeイベント    
             //window.onresize = function(){
               
              // drawChart();
               
             //};
           }
             
           // グラフを描画する為のコールバック関数を指定
           google.setOnLoadCallback(drawChart1);
            
           // グラフの描画   
           function drawChart1() {         
                   
           // 配列からデータの生成
             var data = google.visualization.arrayToDataTable([
               ['男女比'   , '%'],
               ['male' , 2 ],
               ['female' , 4 ],
             ]);
             
               // オプションの設定
             var options = {
               title: 'Certificationセクションの男女比  ( 単位：% )',
               is3D: true
             };          
                    
           
                             
               // 指定されたIDの要素に円グラフを作成
             var chart = new google.visualization.PieChart(document.getElementById('chart_div1'));
                 
             // グラフの描画
             
             chart.draw(data, options);
             
             // onReSizeイベント    
             //window.onresize = function(){
               
              // drawChart1();
               
             //};
           }
           // グラフを描画する為のコールバック関数を指定
           google.setOnLoadCallback(drawChart2);
            
           // グラフの描画   
           function drawChart2() {         
                   
           // 配列からデータの生成
             var data = google.visualization.arrayToDataTable([
               ['学年比'   , '%'],
               ['1年次' , 1 ],
               ['２年次' , 5 ],
             ]);
            
              
               
                
               // オプションの設定
             var options = {
               title: 'Certificationセクションの学年比  ( 単位：% )',
               is3D: true
             };          
                        
                      
               
                             
               // 指定されたIDの要素に円グラフを作成
             var chart = new google.visualization.PieChart(document.getElementById('chart_div2'));
                 
             // グラフの描画
             chart.draw(data, options);
             
             // onReSizeイベント    
            // window.onresize = function(){
               
               //drawChart2();
               
            // };
           }
        </script>
    </head>
      <div class="container" id="content_border">
        <!--wrapperここから-->
        <div id="wrapper" class="row">
            <!--ここからメイン-->
            <div id="main" class="col-12 col-sm-8">
                <h1 class="text-center">Certificationセクション</h1>
                <div class="text-center mt-5"><%= image_tag 'certification', :width => '100%' %></div>
                <p class="mt-4">南山大学ESSの資格セクションは<span class="under">2020年にできた新しいセクション</span>です。</p>
                <p><span class="bold">TOEICや英検、交換留学に必須なIELTSやTOFLEの点数をとりたい人</span>が集まって勉強してます。</p>
                <h2>1. 資格セクションを立ち上げた理由</h2>
                <p><span class="under">就活のためにTOEICでの高い点数や英検をとってみたい！</span><br><span class="under">留学のためにTOFLEやIELTSの
                    点数を上げたい！</span><br>けどいざ机の前に座るとついついスマホに手が伸びちゃったり、集中力が切れたり、、
                    そんな経験ありますよね?
                </p>
                <p>でも<span class="bold">一緒に勉強をサポートしあう仲間</span>がいれば頑張る気がしませんか？！<br>
                    そこで誕生したのが<span class="under bold">Certificationセクション</span>です！
                </p>
                <h2 class="mt-4">2. 活動</h2>
                <h3 class="mt-4">2.1 活動日時・場所</h3>
                <p class="mt-4">資格セクションは<span class="bold under">毎週火曜日の22:00～23:00</span>にZOOMで集まっています！コロナが収束し、
                                  大学内での室内の活動が認められた際には、時間帯を変えて、場所は自習室や教室を借りて活動する予定です。
                </p>
                <h3>2.2 活動内容</h3>
                <p class="mt-4">通常の活動では<span class="bold under">一週間の目標設定</span>、目標が達成できたかの<span class="bold under">成果発表</span>
                をしたり、余った時間では、<span class="bold under">リーディング問題を皆で解き、点数を競っています！</span>
                </p>
                <p>またSTUDY PLUSというアプリを使って<span class="bold under">日々の勉強成果を共有</span>しています！
                  <br>その他、<span class="bold under">オンライン自習室</span>や、<span class="bold under">一週間チャレンジ</span>などを企画しようと思っています！
                </p>
                <h2>3. メンバー</h2>
                <p>2021年3月時点では、1年生が１人、２年生が5人、計6人で活動をしています。</p>
                <h3>3.1 英語系の学部の人が多い？</h3>
                英語系の学部のみならず、経営学部や人文学部の人たちもいます！
                <span class="under">留学したいという夢を叶えるためや、就活でアピールするため</span>にどの学部でもがんばって勉強しています。
                <div id="chart_div" style="width: 100%; height: 45rem; overflow: hidden;" class="graph"></div>
                <p>
                </p>
                <h3>3.2 男女比は？</h3>
                女子の方が多いですが、<span class="under">性別に関係なく仲良く目標達成</span>を目指しています。
                <div id="chart_div1" style="width: 100%; height: 45rem; overflow: hidden;" class="graph"></div>
                <p>
                </p>
                <h3>3.3 何年次が多い？</h3>
                <p>現在、資格セクションには1年生が1人しかいません。</p>
                <p><span class="under">学年に関係なく和気藹々と活動</span>しているので、是非お気軽に体験だけでも来てみてください！</p>
                <p><%= link_to '体験申し込みはこちらから', new_inquiry_path %>
                <div id="chart_div2" style="width: 100%; height: 45rem; overflow: hidden;"></div>
                <p>
                </p>
                <h2>4. 最後に</h2>
                  <div class="box1  mt-4 pt-4">
                    <p class="check">英語の資格をとって自信をつけたい人</p>
                    <p class="check">一人では勉強できない人 </p>
                    <p class="check">仲間と共にがんばりたい人</p>
                  </div>
                  <p class="mt-4 pt-4">はぜひ、資格セクションを1度覗いてみてください！</p>
            </div>
             <!---mainここまで--->     
             <!--ここからサイド-->
            <aside id="sidebar" class="col-sm-4">
         <div id="sidebar_sub">
        <div class="card">
            <div class="card-header">
              目次
            </div>
            <div class="card-body">
                <div class="side-letter"><a>1. 資格セクションを立ち上げた理由</a></div>
                <div class="side-letter"><a>2. 活動</a></div>
                <ul>
                    <a><li>2.1 活動日時・場所</li></a>
                    <a><li>2.2 活動内容</li></a>
                </ul>
                <div class="side-letter"><a>3. メンバー</a></div>
                <ul>
                    <a><li>3.1 英語系の学部の人が多い？</li></a>
                    <a><li>3.2 男女比は？</li></a>
                    <a><li>3.3　何年次が多い？</li></a>
                </ul>
                <div class="side-letter"><a>4. 最後に</a></div>
            </div>
          </div>
     </aside>
    <!--サイドここまで-->
        </div>
        <!--wrapperここまで-->
      </div>
      <!---containerここまで--->
     