<head>
 <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
 
// ライブラリのロード
// name:visualization(可視化),version:バージョン(1),packages:パッケージ(corechart)
google.load('visualization', '1', {'packages':['corechart']});     
         
// グラフを描画する為のコールバック関数を指定
google.setOnLoadCallback(drawChart);
 
// グラフの描画   
function drawChart() {         
        
// 配列からデータの生成
  var data = google.visualization.arrayToDataTable([
    ['学部'   , '%'],
    ['外国語(英米・ドイツ)' , 2 ],
    ['国際教養' , 2 ],
    ['経営' ,  1 ],
    ['人文' , 1 ]
  ]);
 
   
    // オプションの設定
  var options = {
    title: 'Certificationセクションの学部別算出  ( 単位：% )',
    is3D: true
  };          
              
           
    
                  
    // 指定されたIDの要素に円グラフを作成
  var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
      
  // グラフの描画
  chart.draw(data, options);
  
  // onReSizeイベント    
  //window.onresize = function(){
    
   // drawChart();
    
  //};
}
  
// グラフを描画する為のコールバック関数を指定
google.setOnLoadCallback(drawChart1);
 
// グラフの描画   
function drawChart1() {         
        
// 配列からデータの生成
  var data = google.visualization.arrayToDataTable([
    ['男女比'   , '%'],
    ['male' , 2 ],
    ['female' , 4 ],
  ]);
  
    // オプションの設定
  var options = {
    title: 'Certificationセクションの男女比  ( 単位：% )',
    is3D: true
  };          
         

                  
    // 指定されたIDの要素に円グラフを作成
  var chart = new google.visualization.PieChart(document.getElementById('chart_div1'));
      
  // グラフの描画
  
  chart.draw(data, options);
  
  // onReSizeイベント    
  //window.onresize = function(){
    
   // drawChart1();
    
  //};
}
// グラフを描画する為のコールバック関数を指定
google.setOnLoadCallback(drawChart2);
 
// グラフの描画   
function drawChart2() {         
        
// 配列からデータの生成
  var data = google.visualization.arrayToDataTable([
    ['学年比'   , '%'],
    ['1年次' , 1 ],
    ['２年次' , 5 ],
  ]);
 
   
    
     
    // オプションの設定
  var options = {
    title: 'Certificationセクションの学年比  ( 単位：% )',
    is3D: true
  };          
             
           
    
                  
    // 指定されたIDの要素に円グラフを作成
  var chart = new google.visualization.PieChart(document.getElementById('chart_div2'));
      
  // グラフの描画
  chart.draw(data, options);
  
  // onReSizeイベント    
 // window.onresize = function(){
    
    //drawChart2();
    
 // };
}
    </script>
    </head>
<div class="container" id="content_border">
  <!--wrapperここから-->
 <div id="wrapper" class="row">
    <!--ここからメイン-->
    <div id="main" class="col-12 col-sm-8">
        <h1 class="text-center">Certificationセクション</h1>
        <div class="text-center mt-5"><%= image_tag 'Guide10', :width => '100%' %></div>
        <p class="mt-4">
        資格セクションは2020年にできた新しいセクションです。<!--ここから続きお願いします。簡潔に1文か2文！-->
        </p>
        <h2>1. 資格セクションを立ち上げた理由</h2>
        <p><span class="bold">就活のためにTOEICでの高い点数や英検をとってみたい！</span><br>留学のためにTOFLEやIELTSの
          点数を上げたい！</span>けどいざ机の前に座るとついついスマホに手が伸びちゃったり、集中力が切れたり、、
          そんな経験ありますよね。<span class="bold">でも一緒に勉強をサポートしあう仲間がいれば頑張る気がしませんか？！
          そこで誕生したのがCertificationセクションです！</span> 
        </p>
        <h2 class="mt-4">2. 活動</h2>
        <h3 class="mt-4">2.1 活動日時・場所</h3>
        <p class="mt-4">活動日時 :資格セクションは<span class="bold">毎週火曜日の22:00～23:00にZOOMで集まっています！コロナが収束し、
                        大学内での室内の活動が認められた際には、時間帯を変えて、場所は自習室や教室を借りて活動する予定です。
        </p>
        <h3>2.2 活動内容</h3>
       <p class="mt-4">通常の活動では<span class="bold">一週間の目標設定、目標が達成できたかの成果発表、リーディング問題を
        皆で解き、点数を競っています！</span><br>またSTUDY PLUSというアプリを使って日々の勉強成果を共有しています！
        <br>その他、インスタライブのオンライン自習室や、一週間チャレンジなどを企画しようと思っているので、ぜひ1度
        CertificationセクションのInstagramを覗きに来てください！
        </p>
        <!--グラフをみて、文章作成お願いします-->
        <h2>3. メンバー</h2>
        <h3>3.1 英語系の学部の人が多い？</h3>
        <div class="row">
        <div id="chart_div" style="width: 100%; height: 45rem; overflow: hidden;" class="graph"></div>
        <p>
        </p>
        <h3>3.2 男女比は？</h3>
        <div id="chart_div1" style="width: 100%; height: 45rem; overflow: hidden;" class="graph"></div>
        <p>
        </p>
        <h3>3.3 何年次が多い？</h3>
        <div id="chart_div2" style="width: 100%; height: 45rem; overflow: hidden;"></div>
        <p>
        </p>
        </div>
        
    </div>
    <!--メインここまで-->
    <!--ここからサイド-->
    <aside id="sidebar" class="col-sm-4">
      <div id="sidebar_sub">
        <div class="card">
            <div class="card-header">
              目次
            </div>
            <div class="card-body">
                <div class="side-letter"><a>1. 活動</a></div>
                <ul>
                    <a><li>1.1 活動日時・場所</li></a>
                    <a><li>1.2 コロナ禍での活動</li></a>
                    <a><li>1.3 コロナ以前の活動</li></a>
                </ul>
                <div class="side-letter"><a>2. イベント</a></div>
                <ul>
                    <a><li>2.1 BFG</li></a>
                    <a><li>2.2 BPG</li></a>
                    <a><li>2.3 ガイドコンテスト</li></a>
                </ul>
                <div class="side-letter"><a>3. メンバー</a></div>
                <ul>
                    <a><li>3.1 英語系の学部の人が多い？</li></a>
                    <a><li>3.2 男女比は？</li></a>
                    <a><li>3.3　何年次が多い？</li></a>
                </ul>
            </div>
          </div>
     </aside>
    <!--サイドここまで-->
 </div>
 <!--wrapperここまで-->
</div>
<!--containerここまで-->







