
<h1 class="mt-4 pb-4 border-bottom">送信完了</h1>
<p>ありがとうございました。送信を受け付けました。</p>
<p>3日以内をめどにご返信いたしますので、しばらくお待ちください。</p>
<div class="text-center mb-4">
    <!-- 「戻る」ボタンを緑色にする設定を追加 -->
    <%= link_to '戻る', new_contact_path, class: "btn btn-primary"%>
</div>
  

