<!--slickによるカルーセル-->
<div class="previews">
    <div class="slider">
        <%= image_tag 'debate.jpg' %>
        <%= image_tag 'guide.jpg' %>
        <%= image_tag 'party1.jpg' %>
    </div>
</div>

<h2>セクション</h2>
