<div class="row">
    <div class="choose_box col-12">
      <!-- 質問一覧 -->
      <div class="app-theme mb-3">
        <h1 class="text-center">南山大学ESS</h1>
        <p class="text-center">適性セクション診断テスト(全5問)</p>
      </div>
      <!-- 質問1 -->
      <div id="q_01" class="fit mb-3">
        <p class="text-center">Question1 : なぜあなたは英語を勉強していますか？</p>
        <ul>
          <li><a class="btn text-center" href="#q_02" data-value="g">外国人の方と英語で会話したいから。</a></li>
          <li><a class="btn text-center" href="#q_02" data-value="c">資格を取りたいから。</a></li>
          <li><a class="btn text-center" href="#q_02" data-value="dr">英語の演劇をしたいから。</a></li>
          <li><a class="btn text-center" href="#q_02" data-value="d">英語で討論をしたいから。</a></li>
          <li><a class="btn text-center" href="#q_02" data-value="s">英語で自分の意見を言えるようになりたいから。</a></li>
        </ul>
      </div>

      <!-- 質問2 -->
      <div id="q_02" style="display: none;">
        <p>Question2 : あなたは南山大学ESSに何を求めていますか？</p>
        <ul>
          <li><a class="btn" href="#q_03" data-value="a">英語力の向上</a></li>
          <li><a class="btn" href="#q_03" data-value="">交流関係を広げる</a></li>
          <li><a class="btn" href="#q_03" data-value="b">思い出作り</a></li>
          <li><a class="btn" href="#q_03" data-value="b"></a></li>
          <li><a class="btn" href="#q_03" data-value="b"></a></li>
        </ul>
      </div>

      <!-- 質問3 -->
      <div id="q_03" style="display: none;">
        <p>Question3 : </p>
        <ul>
          <li><a class="btn" href="#q_04" data-value="a">語尾がキッパリ</a></li>
          <li><a class="btn" href="#q_04" data-value="b">語尾がソフト</a></li>
        </ul>
      </div>

      <!-- 質問4 -->
      <div id="q_04" style="display: none;">
        <p>Question4 : </p>
        <ul>
          <li><a class="btn" href="#q_05" data-value="a">大きめ</a></li>
          <li><a class="btn" href="#q_05" data-value="b">小さめ</a></li>
        </ul>
      </div>

      <!-- 質問5 -->
      <div id="q_05" style="display: none;">
        <p>Question5 :　</p>
        <ul>
          <li><a class="btn end" data-value="a">自分から口火を切る</a></li>
          <li><a class="btn end" data-value="b">後から発言する</a></li>
        </ul>
      </div>



<!-- ここから以下回答 -->
  <!-- 回答の答え1 -->
     <div id="answer_01" class="result" style="display: none;">
      <div class="result_theme ">
            <p>あなたの性格は</p>
      </div>
      <div class="result_type0 ">
            <h4>『イケイケどんどん』タイプ</h4>
      </div>
      <div class="result_discription0">
        <h2>めっちゃ自己主張 × めっちゃスピーディ</h2>
        <p>
          　あなたは自己主張強いのでリーダーに向いています。今すぐリーダーになろう。
        </p>
      </div>
       <div class="return-btn">
       <%= link_to '戻る', root_path, class: 'return'%>
       </div>
     </div>



  <!-- 回答の答え2 -->
     <div id="answer_02" style="display: none;">
          <div class="result_theme ">
            <p>あなたの性格は</p>
      </div>
      <div class="result_type1 ">
            <h4>『まろやか』タイプ</h4>
      </div>
      <div class="result_discription1">
        <h2>周りを立てる人 × じっくり考える人</h2>
        <p>
          　あなたは物事をじっくり考えて、最善策を練ることが得意。組織や周りを支えることが得意。
        </p>
      </div>
       <div class="return-btn">
       <%= link_to '戻る', root_path, class: 'return'%>
       </div>
     </div>

  </div>
</div>