<head>
 <script type="text/javascript" src="https://www.google.com/jsapi"></script>
 <script type="text/javascript">
 
// ライブラリのロード
// name:visualization(可視化),version:バージョン(1),packages:パッケージ(corechart)
google.load('visualization', '1', {'packages':['corechart']});     
         
// グラフを描画する為のコールバック関数を指定
google.setOnLoadCallback(drawChart);
 
// グラフの描画   
function drawChart() {         
        
// 配列からデータの生成
  var data = google.visualization.arrayToDataTable([
    ['学部'   , '%'],
    ['外国語(英米・ドイツ)' , 4 ],
    ['国際教養' , 6 ],
    ['経済' , 1 ],
    ['経営' ,  1 ],
    ['法律' , 1 ],
    ['総合政策' , 1],
    ['人文' , 1 ]
  ]);
 
   
    // オプションの設定
  var options = {
    title: 'Guideセクションの学部別算出  ( 単位：% )',
    is3D: true
  };          
              
           
    
                  
    // 指定されたIDの要素に円グラフを作成
  var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
      
  // グラフの描画
  chart.draw(data, options);
  
  // onReSizeイベント    
  //window.onresize = function(){
    
   // drawChart();
    
  //};
}
  
// グラフを描画する為のコールバック関数を指定
google.setOnLoadCallback(drawChart1);
 
// グラフの描画   
function drawChart1() {         
        
// 配列からデータの生成
  var data = google.visualization.arrayToDataTable([
    ['男女比'   , '%'],
    ['male' , 8 ],
    ['female' , 7 ],
  ]);
  
    // オプションの設定
  var options = {
    title: 'Guideセクションの男女比  ( 単位：% )',
    is3D: true
  };          
         

                  
    // 指定されたIDの要素に円グラフを作成
  var chart = new google.visualization.PieChart(document.getElementById('chart_div1'));
      
  // グラフの描画
  
  chart.draw(data, options);
  
  // onReSizeイベント    
  //window.onresize = function(){
    
   // drawChart1();
    
  //};
}
// グラフを描画する為のコールバック関数を指定
google.setOnLoadCallback(drawChart2);
 
// グラフの描画   
function drawChart2() {         
        
// 配列からデータの生成
  var data = google.visualization.arrayToDataTable([
    ['学年比'   , '%'],
    ['1年次' , 7 ],
    ['２年次' , 8 ],
  ]);
 
   
    
     
    // オプションの設定
  var options = {
    title: 'Guideセクションの学年比  ( 単位：% )',
    is3D: true
  };          
             
           
    
                  
    // 指定されたIDの要素に円グラフを作成
  var chart = new google.visualization.PieChart(document.getElementById('chart_div2'));
      
  // グラフの描画
  chart.draw(data, options);
  
  // onReSizeイベント    
 // window.onresize = function(){
    
    //drawChart2();
    
 // };
}
    </script>
</head>

<div class="container" id="content_border">
 <!--wrapperここから-->
  <div id="wrapper" class="row">
    <!--ここからメイン-->
    <div id="main" class="col-12 col-sm-8">
        <h1 class="text-center">Speechセクション</h1>
        <div class="text-center mt-5"><%= image_tag 'Sppech', :width => '100%' %></div>
        <h2 class="mt-4">1. 活動</h2>
        <h3 class="mt-4">1.1 活動日時・場所</h3>
        <p class="mt-4">
        </p>
        <h3>1.2 コロナ禍での活動</h3>
        <p></p>
        <h3>1.3 コロナ以前の活動</h3>
        <p>
        </p>
        <h2>2. イベント</h2>
        <h3>2.1 夏のセクションキャンプ</h3>
        <p>毎年夏にスピーチメンバーで旅行に行きます。2019年は<span class="bold">犬山のリトルワールド</span>
        に行きました！</p>
        <p>リトルワールドには世界中の衣・食・住をはじめとした民族文化があり、
        少しでもESS活動らしく、世界を感じられるリトルワールドが選ばれました。
        </p>
        <p>世界の食べ物を食べ、いろんな国の建物を見ました。一日でいろんな国に行った気分になりました。</p>
        <p>リトルワールドの後に、<span class="bold">アウトレット</span>に寄りました。
        スピーチ活動についてや、たわいもない話をして楽しみました。
        2年生2人と1年生2人といった、少人数での旅行でしたが、とても楽しかったです！
        2020年の夏はコロナの影響でいけませんでしたが、どこに行くか来年の旅行先が楽しみですね！
        </p>
        <h3>2.2 冬のセクションキャンプ</h3>
        <p>2019の冬のセクキャンでは、10名のスピーチメンバーで岐阜県可児市にある
        <span class="bold">「湯の華アイランド」</span>
        へ遊びにいきました！</span>
        </p>
        <p>「湯の華アイランド」は温泉が堪能できるというだけでなく、市場やBBQも楽しめる場所なんですよ！
        まずは市場でお買い物をして、次に<span class="bold">BBQでお腹いっぱいになるまで食べ、最後に温泉を堪能しました！</span>
        </p>
        <p>同学年の友人や先輩の新たな一面を知る機会にもなり、私自身とても楽しかったです！
          計画してくださった先輩方には本当に感謝の気持ちでいっぱいです！
        </p>
        <h2>3. メンバー</h2>
        <h3>英語系の学部の人が多い？</h3>
        <div id="chart_div" style="width: 500px; height: 350px"></div>
        <p>
        </p>
        <h3>3.2 男女比は？</h3>
        <div id="chart_div1" style="width: 500px; height: 350px"></div>
        <p>
        </p>
        <h3>3.3 何年次が多い？</h3>
        <div id="chart_div2" style="width: 500px; height: 350px"></div>
        <p>
        </p>
        <h2>4. 最後に</h2>
    </div>
    <!--メインここまで-->
    <!--ここからサイド-->
    <aside id="sidebar" class="col-sm-4">
      <div id="sidebar_sub">
        <div class="card">
            <div class="card-header">
              目次
            </div>
            <div class="card-body">
                <div class="side-letter"><a>1. 活動</a></div>
                <ul>
                    <a><li>1.1 活動日時・場所</li></a>
                    <a><li>1.2 コロナ禍での活動</li></a>
                    <a><li>1.3 コロナ以前の活動</li></a>
                </ul>
                <div class="side-letter"><a>2. イベント</a></div>
                <ul>
                    <a><li>2.1 夏のセクションキャンプ</li></a>
                    <a><li>2.2 冬のセクションキャンプ</li></a>
                </ul>
                <div class="side-letter"><a>3. メンバー</a></div>
                <ul>
                    <a><li>3.1 英語系の学部の人が多い？</li></a>
                    <a><li>3.2 男女比は？</li></a>
                    <a><li>3.3　何年次が多い？</li></a>
                </ul>
                <div class="side-letter"><a>4. 最後に</a></div>
            </div>
          </div>
        </div>
     </aside>
    <!--サイドここまで-->
  </div>
 <!--wrapperここまで-->
 </div>
 <!--containerここまで-->





