
 <!--wrapperここから-->
<div id="wrapper" class="row">
    <!--ここからメイン-->
    <div id="main" class="col-12 col-sm-8">
        <h1 class="text-center mt-5">Speechセクション</h1>
        <div class="text-center mt-5"><%= image_tag 'Sppech', :width => '100%' %></div>
        <h2 class="mt-4">活動</h2>
        <h3 class="mt-4">活動日時・場所</h3>
        <p class="mt-4">活動日時 : <br>
活動場所 : 
        </p>
        <h3>コロナ禍での活動</h3>
        <p></p>
        <h3>コロナ以前の活動</h3>
        <p>
        </p>
        <h2>イベント</h2>
        <h3>BFG</h3>
        <p></p>
        <h3>BPG</h3>
        <p></p>
        <h3>ガイドコンテスト</h3>
        <p></p>
        <h2>メンバー</h2>
        <h3>英語系の学部の人が多い？</h3>
        <div id="chart_div" style="width: 500px; height: 350px"></div>
        <p>G
        </p>
        <h3>男女比は？</h3>
        <div id="chart_div1" style="width: 500px; height: 350px"></div>
        <p>
        </p>
        <h3>何年次が多い？</h3>
        <div id="chart_div2" style="width: 500px; height: 350px"></div>
        <p>
        </p>
    </div>
    <!--メインここまで-->
    <!--ここからサイド-->
    <aside id="sidebar" class="col-sm-4">
        <div class="card">
            <div class="card-header">
              目次
            </div>
            <div class="card-body">
                <a href="">1. 活動</a>
                <ul>
                    <a><li>1.1 活動日時・場所</li></a>
                    <a><li>1.2 コロナ禍での活動</li></a>
                    <a><li>1.3 コロナ以前の活動</li></a>
                </ul>
                <a href="">2. イベント</a>
                <ul>
                    <a><li>2.1 BFG</li></a>
                    <a><li>2.2 BPG</li></a>
                    <a><li>2.3 ガイドコンテスト</li></a>
                </ul>
                <a href="">3. メンバー</a>
                <ul>
                    <a><li>3.1 英語系の学部の人が多い？</li></a>
                    <a><li>3.2 男女比は？</li></a>
                    <a><li>3.3　何年次が多い？</li></a>
                </ul>
            </div>
     </aside>
    <!--サイドここまで-->
</div>
 <!--wrapperここまで-->







