/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 p {
    line-height: 1.9
 }
 

 @import "slick-theme";
 @import "slick";
 
.slick-slide {
   outline: none;
}

 .slide-arrow{
   position: absolute;
   top: 50%;
   margin-top: -50px;
 }

 
 .prev-arrow{
   left: -50px;
   width: 0;
   height: 0;
   border-left: 0 solid transparent;
   border-right: 15px solid black;
   border-top: 10px solid transparent;
   border-bottom: 10px solid transparent;
 }
 .prev-arrow:hover {
   left: -50px;
   width: 0;
   height: 0;
   border-left: 0 solid transparent;
   border-right: 15px solid #0F0;
   border-top: 10px solid transparent;
   border-bottom: 10px solid transparent;
 }

 .next-arrow{
   right: -50px;
   width: 0;
   height: 0;
   border-right: 0 solid transparent;
   border-left: 15px solid black;
   border-top: 10px solid transparent;
   border-bottom: 10px solid transparent;
 }

 .next-arrow:hover {
   right: -50px;
   width: 0;
   height: 0;
   border-right: 0 solid transparent;
   border-left: 15px solid #0F0;
   border-top: 10px solid transparent;
   border-bottom: 10px solid transparent;
 }

 .carousel{

   margin: 0 auto;
   img{
     width: 100%;
   }
 }

 .multiple{
   
   margin: 0 auto;
   img{
     width: 100%;
   }
 }

 

button{
   margin: 0;
   padding: 0;
   background: none;
   border: none;
   border-radius: 0;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   outline: none

 }

 button:focus {
    outline:0;
 }

 /* フッター用 */

 ul {
   list-style: none
 }
 a {
   text-decoration: none
 }
 .generic-anchor {
   color: #0FF;
   &:visited {
     color: #0FF
   }
   &:hover {
     color: #0FF
   }
 }
 .flex-rw {
   display: flex;
   flex-flow: row wrap;
 }
 //This main is mostly to push the footer to the bottom and for demo purposes.
 main {
   flex: 1 1 auto; //For IE11
   display: flex;
   align-items: center;
   justify-content: center;
   font: 10em "Oswald", sans-serif;
   color: rgb(155,155,155);
   line-height: 1
 }
 footer {
   background: rgb(55,55,55);
   margin-top: auto;
   width: 100%
 }
 .footer-list-top {
   width: 33.333%
 }
 .footer-list-top > li {
   text-align: center;
   padding-bottom: 10px
 }
 .footer-list-header {
   padding: 10px 0 5px 0;
   color: #fff;
   font: 2.3vw "Oswald", sans-serif
 }
 .footer-list-anchor {
   font: 1.3em "Open Sans", sans-serif
 }
 
 .footer-social-section {
   width: 100%;
   align-items: center;
   justify-content: space-around;
   position: relative;
   margin-top: 5px;
 }
 .footer-social-section::after {
   content: "";
   position: absolute;
   z-index: 1;
   top: 50%;
   left: 10px;
   border-top: 1px solid #0FF;
   width: calc(100% - 20px)
 }
 .footer-social-overlap {
   position: relative;
   z-index: 2;
   background: rgb(55,55,55);
   padding: 0 20px
 }
 .footer-social-connect {
   display: flex;
   align-items: center;
   font: 3.5em "Oswald", sans-serif;
   color: #fff
 }
 .footer-social-small {
   font-size: 0.6em;
   padding: 0px 20px
 }
 .footer-social-overlap > a {
   font-size: 3em
 }
 .footer-social-overlap > a:not(:first-child) {
   margin-left: 0.38em
 }
 .footer-bottom-section {
   width: 100%;
   padding: 10px;
   border-top: 1px solid #0FF;
   margin-top: 10px
 }
 .footer-bottom-section > div:first-child {
   margin-right: auto
 }
 .footer-bottom-wrapper {
   font-size: 1.5em;
   color: #fff
   
 
 }

 


 

 @media only screen and (max-width: 768px) {
   .footer-list-header {
     font-size: 2em
   }
   .footer-list-anchor {
     font-size: 1.1em
   }
   .footer-social-connect {
     font-size: 2.5em
   }
   .footer-social-overlap > a {
     font-size: 2.24em
   }
   .footer-bottom-wrapper {
     font-size: 1.3em
   }
 }
 @media only screen and (max-width: 568px) {
   main {
     font-size: 5em
   }
   .footer-list-top {
     width: 100%
   }
   .footer-list-header {
     font-size: 3em;
   }
   .footer-list-anchor {
     font-size: 1.5em
   }
   .footer-social-section {
     justify-content: center
   }
   .footer-social-section::after {
     top: 25%
   }
   .footer-social-connect {
     margin-bottom: 10px;
     padding: 0 10px
   }
   .footer-social-overlap {
     display: flex;
     justify-content: center;
   }
   .footer-social-icons-wrapper {
     width: 100%;
     padding: 0
   }
   .footer-social-overlap > a:not(:first-child) {
     margin-left: 20px;
   }
   .footer-bottom-section {
     padding: 0 5px 10px 5px
   }
   .footer-bottom-wrapper {
     text-align: center;
     width: 100%;
     margin-top: 10px
   }
 }
 @media only screen and (max-width: 480px) {
   .footer-social-overlap > a {
     margin: auto
   }
   .footer-social-overlap > a:not(:first-child) {
     margin-left: 0;
   }
   .footer-bottom-rights {
     display: block
   }
    
   .footer-list-top {
      padding-right: 38px;
   }
   
 }
 @media only screen and (max-width: 320px) {
   .footer-list-header {
     font-size: 2.2em
   }
   .footer-list-anchor {
     font-size: 1.2em
   }
   .footer-social-connect {
     font-size: 2.4em
   }
   .footer-social-overlap > a {
     font-size: 2.24em
   }
   .footer-bottom-wrapper {
     font-size: 1.3em
   }
 }
 

 /* セクションの見出し部分 */

 
 /* Certificationセクションの見出し部分 */

 .certification h1 {
   position: relative;
   color: #158b2b;
   font-size: 50px;
   padding: 10px 0;
   text-align: center;
   margin: 1.5em 0;
 }

.certification  h1:before {
   content: "";
   position: absolute;
   top: -17px;
   left: 50%;
   width: 413px;
   height: 120px;
   border-radius: 50%;
   border: 3px solid #a6ddb0;
   border-left-color: transparent;
   border-right-color: transparent;
   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
 }



 /* セクションの見出し部分 */

 .guide h1 {
   position: relative;
   color: #2C7CFF;
   font-size: 50px;
   padding: 10px 0;
   text-align: center;
   margin: 1.5em 0;
 }
 .guide h1:before {
   content: "";
   position: absolute;
   top: -17px;
   left: 50%;
   width: 413px;
   height: 120px;
   border-radius: 50%;
   border: 3px solid #2C7CFF;
   border-left-color: transparent;
   border-right-color: transparent;
   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
 }

 
 /* Debateセクションの見出し部分 */
 .debate h1 {
   position: relative;
   color: #CC0000;
   font-size: 50px;
   padding: 10px 0;
   text-align: center;
   margin: 1.5em 0;
 }

 .debate h1:before {
   content: "";
   position: absolute;
   top: -17px;
   left: 50%;
   width: 413px;
   height: 120px;
   border-radius: 50%;
   border: 3px solid #CC0000;
   border-left-color: transparent;
   border-right-color: transparent;
   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
 }

 /* Dramaセクションの見出し部分 */
 .drama h1 {
   position: relative;
   color: #FFFF77;
   font-size: 50px;
   padding: 10px 0;
   text-align: center;
   margin: 1.5em 0;
 }

 .drama h1:before {
   content: "";
   position: absolute;
   top: -17px;
   left: 50%;
   width: 413px;
   height: 120px;
   border-radius: 50%;
   border: 3px solid #FFFF77;
   border-left-color: transparent;
   border-right-color: transparent;
   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
 }

 /* Speechセクションの見出し部分 */
 .speech h1 {
   position: relative;
   color: #87CEFA;
   font-size: 50px;
   padding: 10px 0;
   text-align: center;
   margin: 1.5em 0;
 }

 .speech h1:before {
   content: "";
   position: absolute;
   top: -17px;
   left: 50%;
   width: 413px;
   height: 120px;
   border-radius: 50%;
   border: 3px solid #87CEFA;
   border-left-color: transparent;
   border-right-color: transparent;
   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
 }

 /* Discussionセクションの見出し部分 */
 .discussion h1 {
   position: relative;
   color: #696969;
   font-size: 50px;
   padding: 10px 0;
   text-align: center;
   margin: 1.5em 0;
 }

 .discussion h1:before {
   content: "";
   position: absolute;
   top: -22px;
   left: 50%;
   width: 480px;
   height: 132px;
   border-radius: 50%;
   border: 3px solid #696969;
   border-left-color: transparent;
   border-right-color: transparent;
   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
 }

