/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 


// 基本設定 文字の大きさはhtmlのfont-size: 10px;を基準にremで設定
 html {
   font-size: 10px;

 }

 body {
   background-color: #F5F5F5;

   line-height: 1.9;
   margin: 0 auto;
   padding: 0;
   //max-width: 1300px;
   // webapplicationの都合でmin-widthを1000～1026に変更
   min-width: 1000px;
   font-size: 2.2rem;
   font-family: Noto, "Hiragino Sans", Helvetica, Arial, sans-serif, 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック'
   ,YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
 }

 @media only screen and (max-width: 576px) {
  // ウィンドウ幅が576px以下の時に適用される
 body {
  background-color: white;
 }
 
}


/*

.container {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}



main {
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-top: 100px;
}

*/

.container #main {
  background-color: white;
  margin-top: 15rem;
  margin-bottom: 12rem;
}







#sidebar {
  //padding-right: 30px;
  padding: 30px;
  margin-top: 9.4rem;

}

@media only screen and (min-width: 992px) {
  // ウィンドウ幅が576px以上の時に適用される
  .navbar-expand-sm .navbar-nav .nav-link {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    padding: 0 2rem;
  }
 
}

@media only screen and (min-width: 992px) {
  // ウィンドウ幅が576px以下の時に適用される
  
.navbar-dark .navbar-brand {
  margin-left: 20rem;
}
  
 
}


@media only screen and (min-width: 992px) {
  // ウィンドウ幅が576px以下の時に適用される
  .login-nav {
    margin-right: 20rem;
  }

}


@media only screen and (min-width: 576px) {
  // ウィンドウ幅が576px以上の時に適用される
  .navbar-expand-sm .navbar-nav .nav-link {
    margin-right: 4.1rem;
    margin-left: 0.1rem;
    padding: 0 0.1rem;
  }
 
}

@media only screen and (min-width: 576px) {
  // ウィンドウ幅が576px以下の時に適用される
  
.navbar-dark .navbar-brand {
  margin-left: 4.1rem;
}
  
 
}


@media only screen and (min-width: 576px) {
  // ウィンドウ幅が576px以下の時に適用される
  .login-nav {
    margin-right: 4.1rem;
  }

}

p {
  line-height: 1.9;
  margin-bottom: 40px;
  font-size: 2.2rem;
  padding: 0 20px;
}

.container h1 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

h1 {
  font-size: 3.3rem;
  margin-top: 10rem;
  font-weight: bold;
}

h2 {
  font-size: 3rem;
  margin: 50px 0 30px;
}

h3 {
  font-size:2.8rem;
  margin: 0 10px 30px;
}

.navbar-brand {
  font-size: 2.8rem;
}

.col-sm-8 {
  width: 66.66667%;
}

.col-sm-4 {
  width: 33.33333%;
}




.pt-6 {
  padding-top: 50px;
}

.pb-6 {
  padding-bottom: 50px;
}

/*
.card a {
  color: white;
}

.card a:visited {
 color: white;
}


.card a:hover {
 color:white;
 font-weight: normal;
 text-decoration: none;
}

*/



// 画面横いっぱいにする設定


.topimg1 {
  width: 100%;
  height: 100vh;
  background-image: url(topimage3.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  
}

@media only screen and (min-width: 0px) {
  // ウィンドウ幅が0px以上の時に適用される
  .intro {
    width: 100%;
    background-color: #f1f1f1;
    padding-bottom: 10rem;
    padding-top: 7rem;
    padding-right: 7rem;
    padding-left: 7rem;
  }
}


@media only screen and (min-width: 1025px) {
  // ウィンドウ幅が576px以上の時に適用される
  .intro {
    width: 100%;
    background-color: #f1f1f1;
    padding-bottom: 10rem;
    padding-top: 7rem;
    padding-right: 20rem;
    padding-left: 20rem;
  }
}

@media only screen and (min-width: 0px) {
  // ウィンドウ幅が0px以上の時に適用される
  .section {
    width: 100%;
    background-color: white;
    padding-bottom: 10rem;
    padding-top: 7rem;
    padding-right: 7rem;
    padding-left: 7rem;
  }
}


@media only screen and (min-width: 1025px) {
  // ウィンドウ幅が576px以上の時に適用される
  .section {
    width: 100%;
    background-color: white;
    padding-bottom: 10rem;
    padding-top: 1rem;
    padding-right: 20rem;
    padding-left: 20rem;
  }
}

@media only screen and (min-width: 0px) {
  // ウィンドウ幅が0px以上の時に適用される
  .event {
    width: 100%;
    background-color: #f1f1f1;
    padding-bottom: 10rem;
    padding-top: 7rem;
    padding-right: 7rem;
    padding-left: 7rem;
  }
}


@media only screen and (min-width: 1025px) {
  // ウィンドウ幅が576px以上の時に適用される
  .event {
    width: 100%;
    background-color: #f1f1f1;
    padding-bottom: 10rem;
    padding-top: 1rem;
    padding-right: 20rem;
    padding-left: 20rem;
  }
}




.event .card-text {
  color: white;
}

.event .card-title {
  color: white;
}


.intro .card-text {
  color: white;
}

.intro.card-title {
  color: white;
}


.section .card-text {
  color: white;
}

.section .card-title {
  color: white;
}


@media only screen and (max-width: 576px) {
  // ウィンドウ幅が576px以下の時に適用される
  .section-title {
    padding-top: 0rem;
    font-family: 'Noto Sans JP', sans-serif;
  }
}

@media only screen and (min-width: 1025px) {
  // ウィンドウ幅が576px以下の時に適用される
  .section-title {
    padding-top: 6rem;
    font-family: 'Noto Sans JP', sans-serif;
  }
}



@media only screen and (max-width: 576px) {
  // ウィンドウ幅が576px以下の時に適用される
  .event-title {
    padding-top: 0rem;
    font-family: 'Noto Sans JP', sans-serif;
  }
}

@media only screen and (min-width: 1025px) {
  // ウィンドウ幅が576px以下の時に適用される
  .event-title {
    padding-top: 6rem;
    font-family: 'Noto Sans JP', sans-serif;
  }
}



.section .card-title {
  font-weight: 600;
}

.event .card-title {
  font-weight: 600;
}

.button-position {
  margin-left: 10px;
  margin-right: 10px;
}

.card .button {
  padding-bottom: -10px;
  padding-top: -10px;
}

.card-header {
  color: white;
  background-color: #f89174;
}
 /*

 .card a {
   color: #00BFFF;
 }

 .card a:visited {
  color: #00BFFF;
 }

 
.card a:hover {
  color: #00BFFF;
  font-weight: normal;
  text-decoration: none;
}

*/

/*
.animated {
  display: none;
}
*/


 a {
  color: #00BFFF;
}

a:visited {
  color: #00BFFF;
}

a:hover {
  color: #00BFFF;
  font-weight: 700;
  text-decoration: none;
}

.black {
  color: black;
}



/* liのhober時にマウスポインタ―を付ける */
li {
  cursor: pointer;
  color: #00BFFF;
}



.active .side-letter {
  font-weight: 700;
  color: #0066FF;
}

.mt-4{
  margin-top: 3rem!important;
}

@media only screen and (max-width: 576px) {
  // ウィンドウ幅が576px以下の時に適用される
  .mt-5 {
  margin-top: -1rem!important;
  }
}


@media only screen and (min-width: 576px) {
  // ウィンドウ幅が576px以下の時に適用される
  .mt-5 {
    margin-top: 1rem!important;
  }
}



.side-letter {
  color: #00BFFF;
  cursor: pointer;
}


 @media only screen and (min-width: 0px) {
   // ウィンドウ幅が0px以上の時に適用される
  h5 {
    font-size: 4rem;
  }
 }

 @media only screen and (min-width: 576px) {
   // ウィンドウ幅が576px以上の時に適用される
  h5 {
    font-size: 2.3rem;
  }
 }

 @media only screen and (min-width: 0px) {
  // ウィンドウ幅が0px以上の時に適用される
 .mb-5 {
   margin-bottom: 8rem!important;
 }
}

@media only screen and (min-width: 576px) {
  // ウィンドウ幅が576px以上の時に適用される
 .mb-5 {
  margin-bottom: 4rem!important;
 }
}

// トップページ下部の複数枚カルーセルの間の余白の大きさの設定
.multiple a {
  padding: 2px 23px;
}

// cardに関する設定
.card {
  border: 0;
}

@media only screen and (min-width: 0px) {
  // ウィンドウ幅が0px以上の時に適用される
 .card  {
   margin-top: 50px;
 }
}

@media only screen and (min-width: 576px) {
  // ウィンドウ幅が576px以上の時に適用される
 .card {
   margin-top: 25px;
 }
}

@media only screen and (min-width: 0px) {
  // ウィンドウ幅が0px以上の時に適用される
 .btn  {
   font-size: 25px;
 }
}

@media only screen and (min-width: 576px) {
  // ウィンドウ幅が576px以上の時に適用される
 .btn {
   font-size: 1rem;
 }
}


@media only screen and (min-width: 0px) {
  // ウィンドウ幅が0px以上の時に適用される
 .card-text {
   font-size: 3rem;

 }
}

@media only screen and (min-width: 576px) {
  // ウィンドウ幅が576px以上の時に適用される
 .card-text {
   font-size: 2rem;
 }
}

@media only screen and (min-width: 0px) {
  // ウィンドウ幅が0px以上の時に適用される
 .card-text:last-child  {
   margin-bottom: 24px;
 }
}

@media only screen and (min-width: 576px) {
  // ウィンドウ幅が576px以上の時に適用される
  .card-text:last-child  {
    margin-bottom: 8px;
 }
}

// ドロップダウンの文字の設定
@media only screen and (min-width: 0px) {
  // ウィンドウ幅が0px以上の時に適用される
  .dropdown-item {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 576px) {
  // ウィンドウ幅が576px以上の時に適用される
  .dropdown-item {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 576px) {
  // ウィンドウ幅が576px以上の時に適用される
  .nav-link {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 576px) {
  // ウィンドウ幅が576px以上の時に適用される
  .nav-link {
    font-size: 2rem;
  }
}




/* サイドページの設定=固定 
@media only screen and (min-width: 768px) {
  // ウィンドウ幅が768px以上の時に適用される
  // iPad・タブレット用
  #sidebar {
    //position: fixed;
    bottom: 30rem;
    //right: 15rem;
 }
}


@media only screen and (min-width: 800px) {
  // ウィンドウ幅が800px以上の時に適用される
  // iPadPro用
  #sidebar {
    //position: fixed;
    bottom: 30rem;
    //right: 10rem;
    //width: 33.33333%;
 }
}



@media only screen and (min-width: 1025px) {
  // ウィンドウ幅が1024px以上の時に適用される
  #sidebar {
    //position: fixed;
    bottom: 2.5rem;
    //right: 25rem;
    //width: 33.33333%;
  
  }
}

*/


#sidebar a {
  font-size: 1.8rem;
}


@media (max-width: 575px) {
  /* ウインドウ幅500px以下の時に適用されるスタイル */
  #sidebar {
    //display: none;
    opacity: 0;
   }

}



@media (min-width: 0px) {
  /* ウインドウ幅500px以下の時に適用されるスタイル */
  
/* navの設定=固定 */
.navbar {
  position: fixed;
  position: -webkit-fixed;
  top: 0%;
  width: 100%;
  z-index: 100;
  padding: 1.8rem;
 }
}




@media (min-width: 576px) {
  /* ウインドウ幅576px以上の時に適用されるスタイル */
  
/* navの設定=固定 */
.navbar {
  position: fixed;
  position: -webkit-fixed;
  top: 0%;
  width: 100%;
  z-index: 100;
  padding: 1rem;
 }
}

 /* フッター用 */



 ul {
   list-style: none
 }
 a {
   text-decoration: none
 }
 .generic-anchor {
   color: #0FF;
   &:visited {
     color: #0FF
   }
   &:hover {
     color: #0FF
   }
 }
 .flex-rw {
   display: flex;
   flex-flow: row wrap;
 }
 //This main is mostly to push the footer to the bottom and for demo purposes.
 main {
   flex: 1 1 auto; //For IE11
   display: flex;
   align-items: center;
   justify-content: center;
   font: 10em "Oswald", sans-serif;
   color: rgb(155,155,155);
   line-height: 1
 }
 footer {
   background: rgb(55,55,55);
   margin-top: auto;
   width: 100%
 }
 .footer-list-top {
   width: 33.333%
 }

 .footer-list-header {
   padding: 10px 0 5px 0;
   color: #fff;
   font: 2.3rem "Oswald", sans-serif
 }
 .footer-list-anchor {
   font: 2rem "Open Sans", sans-serif
 }
 
 .footer-social-section {
   width: 100%;
   align-items: center;
   justify-content: space-around;
   position: relative;
   margin-top: 5px;
 }
 .footer-social-section::after {
   content: "";
   position: absolute;
   z-index: 1;
   top: 50%;
   left: 10px;
   border-top: 1px solid #0FF;
   width: calc(100% - 20px)
 }
 .footer-social-overlap {
   position: relative;
   z-index: 2;
   background: rgb(55,55,55);
   padding: 0 20px
 }
 .footer-social-connect {
   display: flex;
   align-items: center;
   font: 4rem "Oswald", sans-serif;
   color: #fff

 }
 .footer-social-small {
   font-size: 0.6em;
   padding: 0px 20px
 }
 .footer-social-overlap > a {
   font-size: 3em
 }
 .footer-social-overlap > a:not(:first-child) {
   margin-left: 0.38em
 }
 .footer-bottom-section {
   width: 100%;
   padding: 10px;
   border-top: 1px solid #0FF;
   margin-top: 10px
 }
 .footer-bottom-section > div:first-child {
   margin-right: auto
 }
 .footer-bottom-wrapper {
   font-size: 1.5rem;
   color: #fff
   
 
 }



@media only screen and (min-width: 769px) {
  .footer-list-top > li {
    text-align: center;
  }

}
 

 @media only screen and (max-width: 768px) {
   .footer-list-header {
     font-size: 2rem
   }
   .footer-list-anchor {
     font-size: 1.5rem
   }
   .footer-social-connect {
     font-size: 1.5em
   }
   .footer-social-overlap > a {
     font-size: 2.24em
   }
   .footer-bottom-wrapper {
     font-size: 1.3rem
   }
   .footer-list-top  footer-list-header > li {
    margin-left: 10px;

  }
 }
 @media only screen and (max-width: 568px) {
   main {
     font-size: 5em
   }
   .footer-list-top {
     width: 100%
   }
   .footer-list-header {
     font-size: 2rem;
     font-weight: 700;
     text-align: left;
     margin-left: 18rem;
   }
   .footer-list-anchor {
     font-size: 2rem;
     font-weight: 400;
     text-align: left;
     margin-left: 20rem;
     
   }
   .footer-social-section {
     justify-content: center
   }
   .footer-social-section::after {
     top: 25%
   }
   .footer-social-connect {
     margin-bottom: 10px;
     padding: 0 10px
   }
   .footer-social-overlap {
     display: flex;
     justify-content: center;
   }
   .footer-social-icons-wrapper {
     width: 100%;
     padding: 0
   }
   .footer-social-overlap > a:not(:first-child) {
     margin-left: 20px;
   }
   .footer-bottom-section {
     padding: 0 5px 10px 5px
   }
   .footer-bottom-wrapper {
     text-align: center;
     width: 100%;
     margin-top: 10px
   }
 }
 @media only screen and (max-width: 480px) {
   .footer-social-overlap > a {
     margin: auto
   }
   .footer-social-overlap > a:not(:first-child) {
     margin-left: 0;
   }
   .footer-bottom-rights {
     display: block
   }


 
 }
 @media only screen and (max-width: 320px) {
   .footer-list-header {
     font-size: 1.8rem
   }
   .footer-list-anchor {
     font-size: 1.3rem
   }
   .footer-social-connect {
     font-size: 1rem
   }
   .footer-social-overlap > a {
     font-size: 2.24em
   }
   .footer-bottom-wrapper {
     font-size: 1.2rem
   }
 }
 

 /* セクションの大見出し部分 */

 h2 {
  padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
  color: #494949;/*文字色*/
  background: #f4f4f4;/*背景色*/
  border-left: solid 5px #7db4e6;/*左線*/
  border-bottom: solid 3px #d7d7d7;/*下線*/
}

/* セクションの小見出し部分 */

h3 {
  padding: 0.25em 0.5em;/*上下 左右の余白*/
  color: #494949;/*文字色*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px #7db4e6;/*左線*/
}


// 適性診断テストの設定


.choose_box {
  position: relative;
  width: 100%;

}
 .choose_box p {
  margin-top: 5%;
  margin-bottom: 10%;
    font-size: 20px;
    display: block;
    font-weight: 600;
    text-align: center;
  }

.choose_box li {
  display: inline-block;
  width: 80%;
  margin-top: 30px;
  list-style: none;
}

.choose_box ul {
  margin-left: 17%;
  padding-left: 0;
}



.choose_box ul li a {
  width: 100%;
  color: #fff;
  display: block;
  padding: 10px 20px;
  text-align: center;
  background-color: #2791d4;
  font-weight: 600;
  font-size: 16px;
  border: 2px solid #2791d4;
  text-decoration: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.choose_box ul li a:hover {
   background-color: #fff;
  color: #2791d4;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}

.app-theme p {
  color: #2791d4;
  margin-bottom: 5%;
  margin-top: 5%;
}


.fit {
  //position: absolute;
  margin: auto;
  width: 100%;
}



.fit p {
  margin-top: 5%;
  margin-bottom: 3%;
    font-size: 18px;
    display: block;
    font-weight: 600;
    text-align: center;
  }




.result_type0 h4 {
    width: 50%;
    margin: auto;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    text-align: center;
  background-color: #10c010;
  }

.result_type1 h4 {
    width: 50%;
    margin: auto;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    text-align: center;
  background-color: #DC143C;
  }



.result_theme p  {
    margin-top: 5%;
    margin-bottom: 2%;
    text-align: center;
}


.result_discription0 {
    text-align: center;
    margin-bottom: 5%;
}
.result_discription1 {
    text-align: center;
    margin-bottom: 5%;
}
.result_discription0 h2 {
    color: #10c010;
    text-align: center;
}

.result_discription1 h2 {
    color: #DC143C;
    text-align: center;
}


  .result_discription0 p {
    font-family: "游ゴシック体", YuGothic;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    padding: 20px;
    text-align: left;
    border: 1px solid #10c010;
    color: #303030;
    font-size: 16px;
    line-height: 35px;
    box-shadow: 0px 5px 1px #10c010;
    border-radius: 5px;
  }
  .result_discription1 p {
    font-family: "游ゴシック体", YuGothic;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    padding: 20px;
    text-align: left;
    border: 1px solid #DC143C;
    color: #303030;
    font-size: 16px;
    line-height: 35px;
    box-shadow: 0px 5px 1px #DC143C;
    border-radius: 5px;
  }

.return-btn {
  margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
    margin-bottom: 100px;
}
.return {
  display: inline-block;
  text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #2791d4;
    width: 100%;
    padding: 10px 10px;
    border: 1px solid #2791d4 ;
}

.return:hover {
    border: 1px solid #2791d4 ;
    background-color: #fff;
    color: #2791d4;
    transition: 0.5s;
}






// ここからLoginページの設定

// フルスクリーン画像の設定

.topimg2 {
  width: 100%;
  height: 100vh;
  background-image: url(loginimage1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  
}

// 画像上の中央に文字を設置する設定

.topimg2 {
  position: relative;
}

.title  {
  position: absolute;
  color: white;
  font-weight: bold;
  // Microsoftと同じフォントの種類を指定
  font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  // Appleと同じフォントの種類を指定
  //font-family:"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif; 
  margin: 0;
  padding: 0;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  font-size: 5rem;
}

.subtitle1 {
  position: absolute;
  color: white;
  font-weight: bold;
  // Microsoftと同じフォントの種類を指定
  font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  // Appleと同じフォントの種類を指定
  //font-family:"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif; 
  margin: 0;
  padding: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  font-size: 3rem;
}


.subtitle2 {
  position: absolute;
  font-weight: bold;
  // Microsoftと同じフォントの種類を指定
  font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  // Appleと同じフォントの種類を指定
  //font-family:"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif; 
  margin: 0;
  padding: 0;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  font-size: 3rem;
}

.webapp .topimg2 a {
  color: white;
  border-bottom: solid 3px white;
}


// 背景全体を暗くする
// beforeで背景画像前面に要素を用意し
// rgbaで半透明の黒を重ねる
/*

.topimg2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.4);
}
*/

/* 背景画像をぼかす設定
  blurでぼかす
  ぼかす程度はpxで指定
*/

.topimg2 {
  z-index: 0;
}

.topimg2::before {
  content: "";
  position: absolute;
  z-index: -2;
  // blurで指定したpxと同じ値を指定
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  background: inherit;
  filter: blur(5px);
}


// ここからWebApplicationの位置設定

@media only screen and (min-width: 0px) {
  // ウィンドウ幅が0px以上の時に適用される
  .app1 {
    width: 100%;
    background-color: #f1f1f1;
    padding-top: 8rem;
    padding-right: 12rem;
    padding-left: 12rem;
    margin-right: 0;
    margin-left: 0;
  }
}


@media only screen and (min-width: 1025px) {
  // ウィンドウ幅が576px以上の時に適用される
  .app1 {
    width: 100%;
    background-color: #f1f1f1;
    padding-top: 12rem;
    padding-right: 200px;
    padding-left: 200px;
  }
}

@media only screen and (min-width: 0px) {
  // ウィンドウ幅が0px以上の時に適用される
  .app2 {
    width: 100%;
    background-color: #f1f1f1;
    padding-top: 8rem;
    padding-bottom: 120px;
    padding-right: 12rem;
    padding-left: 12rem;
    margin-right: 0;
    margin-left: 0;
  }
}


@media only screen and (min-width: 1025px) {
  // ウィンドウ幅が576px以上の時に適用される
  .app2 {
    width: 100%;
    background-color: #f1f1f1;
    padding-top: 12rem;
    padding-bottom: 120px;
    padding-right: 200px;
    padding-left: 200px;
  }
}

@media only screen and (min-width: 0px) {
  // ウィンドウ幅が0px以上の時に適用される
  .app3 {
    width: 100%;
    background-color: white;
    padding-top: 8rem;
    padding-bottom: 12rem;
    padding-right: 12rem;
    padding-left: 12rem;
    margin-right: 0;
    margin-left: 0;
  }
}


@media only screen and (min-width: 1025px) {
  // ウィンドウ幅が576px以上の時に適用される
  .app3 {
    width: 100%;
    background-color: white;
    padding-top: 12rem;
    padding-bottom: 12rem;
    padding-right: 200px;
    padding-left: 200px;
  }
}



@media only screen and (min-width: 0px) {
  // ウィンドウ幅が0px以上の時に適用される
  .up {
    margin-top: 5rem;
  }
}

@media only screen and (min-width: 1025px) {
  // ウィンドウ幅が576px以上の時に適用される
  .up {
    margin-top: 4rem;
  }
}


@media only screen and (min-width: 0px) {
  // ウィンドウ幅が0px以上の時に適用される
  .app4 {
    width: 100%;
    background-color: #f1f1f1;
    padding-top: 0;
    padding-bottom: 12rem;
    padding-right: 12rem;
    padding-left: 12rem;
    margin-right: 0;
    margin-left: 0;
  }
}

@media only screen and (min-width: 1025px) {
  // ウィンドウ幅が576px以上の時に適用される
  .app4 {
    width: 100%;
    background-color: #f1f1f1;
    padding-top: 0;
    padding-bottom: 12rem;
    padding-right: 20rem;
    padding-left: 20rem;
  }
}



@media only screen and (min-width: 0px) {
  // ウィンドウ幅が0px以上の時に適用される
  .app5 {
    width: 100%;
    background-color: white;
    padding-top: 0;
    padding-bottom: 12rem;
    padding-right: 12rem;
    padding-left: 12rem;
    margin-right: 0;
    margin-left: 0;
  }
}


@media only screen and (min-width: 1025px) {
  // ウィンドウ幅が576px以上の時に適用される
  .app5 {
    width: 100%;
    background-color: white;
    padding-top: 0;
    padding-bottom: 12rem;
    padding-right: 20rem;
    padding-left: 20rem;
  }
}

@media only screen and (min-width: 0px) {
  // ウィンドウ幅が0px以上の時に適用される
  .app6 {
    width: 100%;
    background-color: #f1f1f1;
    padding-top: 0;
    padding-bottom: 12rem;
    padding-right: 12rem;
    padding-left: 12rem;
    margin-right: 0;
    margin-left: 0;
  }
}


@media only screen and (min-width: 1025px) {
  // ウィンドウ幅が576px以上の時に適用される
  .app6 {
    width: 100%;
    background-color: #f1f1f1;
    padding-top: 0;
    padding-bottom: 12rem;
    padding-right: 200px;
    padding-left: 200px;
  }
}



// ここからはWebApplicationの写真の後の文字設定

@media only screen and (min-width: 0px) {
  // ウィンドウ幅が0px以上の時に適用される
  .after-picture {
    margin-top: 8rem;
  }
}


@media only screen and (min-width: 1025px) {
  // ウィンドウ幅が576px以上の時に適用される
  .after-picture {
    margin-top: 8rem;
  }
}


@media only screen and (min-width: 0px) {
  // ウィンドウ幅が0px以上の時に適用される
  .summary-title {
    margin-top: 2.5rem;
    margin-bottom: 5rem;
  }
}


@media only screen and (min-width: 1025px) {
  // ウィンドウ幅が576px以上の時に適用される
  .summary-title {
    margin-top: 10px;
    margin-bottom: 100px;
  }
}

@media only screen and (min-width: 0px) {
  .img-top1 {
    margin-top: 3rem;
  }
}


@media only screen and (min-width: 1025px) {
  .img-top1 {
    margin-top: 4rem;
  }
}

@media only screen and (min-width: 0px) {
  .img-top2 {
    margin-top: 3rem;
  }
}


@media only screen and (min-width: 1025px) {
  .img-top2{
    margin-top: 12rem;
  }
}



@media only screen and (min-width: 0px) {
  .img-top3 {
    margin-top: 3rem;
  }
}


@media only screen and (min-width: 1025px) {
  .img-top3 {
    margin-top: 11.5rem;
  }
}


.red{
  color: #DC143C;
  font-weight: bold;
}
.blue{
  color: #00BFFF; 
  font-weight: bold;
}
.pink{
  color: palevioletred;
  font-weight: bold;
}

// 文字を太字にする設定

.bold {
  font-weight: bold;
}

/* 文字に下線を引く設定
  transparentの値を小さくすると下線の太さが細くなり、
  値を大きくすると下線の太さが太くなる
  #f2dd92は下線の色を設定している。
  0%のところは特に触らなくてもOK
*/


.under {
  background: linear-gradient(transparent 75%, #f2dd92 0%)
}

// タイトル付きの枠で囲う設定 

.box {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px #62c1ce;
}

.box .box-title {
  position: absolute;
  display: inline-block;
  top: -27px;
  left: -3px;
  padding: 0 9px;
  height: 25px;
  line-height: 25px;
  font-size: 17px;
  background: #62c1ce;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}

.box p {
  margin: 0; 
  padding: 0;
}

// タイトルなしの囲いをつける設定

.box1{
  padding: 0.5em 1em;
  margin: 0 auto;
  border: double 5px #4ec4d3;
}

.box1 p {
  margin: 0; 
  padding: 0;
}

// 文字の前にチェックマーク(✓)を入れたいときの設定

.check:before {
  content: "\02714";
  margin-right: 10px;
}
