<head>
 <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
 
// ライブラリのロード
// name:visualization(可視化),version:バージョン(1),packages:パッケージ(corechart)
google.load('visualization', '1', {'packages':['corechart']});     
         
// グラフを描画する為のコールバック関数を指定
google.setOnLoadCallback(drawChart);
 
// グラフの描画   
function drawChart() {         
        
// 配列からデータの生成
  var data = google.visualization.arrayToDataTable([
    ['学部'   , '%'],
    ['外国語(英米・ドイツ)' , 4 ],
    ['国際教養' , 6 ],
    ['経済' , 1 ],
    ['経営' ,  1 ],
    ['法律' , 1 ],
    ['総合政策' , 1],
    ['人文' , 1 ]
  ]);
 
   
    // オプションの設定
  var options = {
    title: 'Guideセクションの学部別算出  ( 単位：% )',
    is3D: true
  };          
              
           
    
                  
    // 指定されたIDの要素に円グラフを作成
  var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
      
  // グラフの描画
  chart.draw(data, options);
  
  // onReSizeイベント    
  //window.onresize = function(){
    
   // drawChart();
    
  //};
}
  
// グラフを描画する為のコールバック関数を指定
google.setOnLoadCallback(drawChart1);
 
// グラフの描画   
function drawChart1() {         
        
// 配列からデータの生成
  var data = google.visualization.arrayToDataTable([
    ['男女比'   , '%'],
    ['male' , 8 ],
    ['female' , 7 ],
  ]);
  
    // オプションの設定
  var options = {
    title: 'Guideセクションの男女比  ( 単位：% )',
    is3D: true
  };          
         

                  
    // 指定されたIDの要素に円グラフを作成
  var chart = new google.visualization.PieChart(document.getElementById('chart_div1'));
      
  // グラフの描画
  
  chart.draw(data, options);
  
  // onReSizeイベント    
  //window.onresize = function(){
    
   // drawChart1();
    
  //};
}
// グラフを描画する為のコールバック関数を指定
google.setOnLoadCallback(drawChart2);
 
// グラフの描画   
function drawChart2() {         
        
// 配列からデータの生成
  var data = google.visualization.arrayToDataTable([
    ['学年比'   , '%'],
    ['1年次' , 7 ],
    ['２年次' , 8 ],
  ]);
 
   
    
     
    // オプションの設定
  var options = {
    title: 'Guideセクションの学年比  ( 単位：% )',
    is3D: true
  };          
             
           
    
                  
    // 指定されたIDの要素に円グラフを作成
  var chart = new google.visualization.PieChart(document.getElementById('chart_div2'));
      
  // グラフの描画
  chart.draw(data, options);
  
  // onReSizeイベント    
 // window.onresize = function(){
    
    //drawChart2();
    
 // };
}
    </script>
</head>
<div class="container" id="content_border">
 <!--wrapperここから-->
 <div id="wrapper" class="row">
    <!--ここからメイン-->
    <div id="main" class="col-12 col-sm-8">
        <h1 class="text-center">Guideセクション</h1>
        <div class="text-center mt-5"><%= image_tag 'Guide10', :width => '100%' %></div>
        <p class="mt-4">
        「ガイド」を行う上では、相手に観光地の歴史や情報をわかりやすく伝えるということ、そしてなにより、
        <span class="bold">自分たちが行うガイドをその対象となる人に楽しんでもらうこと</span >が大事です。</p>
        <p>そこで必要となる<span class="bold">「伝える力」、そして「英語でのコミュニケーション力」</span>
        を伸ばせるような活動を行うことを意識しています。
        </p>
        <h2 class="mt-4">1. 活動</h2>
        <h3 class="mt-4">1.1 活動日時・場所</h3>
        <p class="mt-4">ガイドセクションは<span class="under bold">毎週月曜日の17:00～18:00と、水曜日の15:00～16:00の週2</span>で活動を行っています。</p>
        <p>通常であれば大学内の教室を借りて活動するのですが、<spn class="bold">コロナ禍ではZoomで活動を行っています。</span>
        </p>
        <h3>1.2コロナ禍での活動</h3>
        <p>英語を用いたワードウルフやしりとりといったゲームアクティビティーや南山大学内にある外国語コミュニケーションルーム
        のWorld Plazaをリスペクトした英会話タイムなども設けて、<span class="under">英語でフリートークをしています。</span></p>
        <p><span class="bold">活動内容はInstagramに毎回発信しています</span>ので、<a href="https://www.instagram.com/nanzan_ess_guide/" class="mr-2">
        こちら</a>からぜひご確認ください。
        </p>
        <h3>1.3 コロナ以前の活動</h3>
        <p>夏休み期間に行う、京都の訪日外国人を対象にガイドを行うセクションキャンプや、南山大学の留学生を対象にガイドを行う
        BFG(Basic Field Guide)、ガイドセクションメンバーを対象に南山構内をガイドするBPG(Basic Guide)に向けての準備が中心となります。</p>
        <p>準備には調べ物やスクリプト作り、発音練習であったりとやることは多いですが、
        <span class="bold">ガイドをし終えた後の達成感はたまらないですよ！</span>
        </p>
        <h2>2. イベント</h2>
        <h3>2.1 BFG・BPG</h3>
        <p>BFG（正式名称Basic Field Guide）は
        <span class="bold">南山大学の外国人別科留学生(通称CJS)を対象に行うガイドイベント</span>です。
        </p>
        <p>基本的な行先は名古屋市内で日本の文化が分かる場所になり、2019年は<span class="bold">白鳥庭園と徳川園</span>に行きました。
        日本人が2,3人と留学生8人ほどで１チームになり、それぞれのルートでガイドを行います。
        </p>
        <p><span class="under1 bold">施設内のルートを独自にカスタマイズ</span></p>
        <p class="mt-4">ガイドすると言っても、ただ順路を進んで説明すればいいわけではありません。
        </p>
        <p class="mt-4">展示物の説明に加え、それに関する歴史や日本人がイメージするものを補足で入れていくことで、
        その展示物への関心をより持ってもらうことができます。それを行く場所に合わせて用意し、
        行く順番をグループメンバーと相談しながら決めていくことができます。
        </p>
        <p class="mt-4">ガチすぎず手抜きでない、<span class="bold">ちょうどいい難易度で楽しめるガイドイベント</span>です！</p>
        <p><span class="under1 bold">留学生とがっつり話せる</span></p>
        <p class="mt-4">BFGはただガイドしておしまい、なんてことはありません！</p>
        <p class="mt-4">参加してくれた留学生とアイスブレークも雑談も楽しむことができます。彼らは日本の事に興味を持った学生です。</p>
        <p class="mt-4">英語を使って<span class="bold">大学の印象や相手の母国の事をたくさん聞いてみましょう！きっといろいろ面白い話が聞けるはずです。</span></p>
        <p class="mt-4">ガイド中に加えて、イベント後も南山大学構内の多文化交流ラウンジ(ステラ)で一緒に話したりすることも可能です！</p>
        <h3>2.2 セクションキャンプ</h3>
        <p>Guideセクションの一大イベントであるセクションキャンプについて紹介します！
        <span class="bold">毎年このイベントが楽しみでESSに入ってくれる新入生がたくさんいるんですよ！</span>
        </p>
        <p>セクションキャンプでは、<span class="bold">京都などの観光地に行き外国人観光客のために英語でそのスポットをガイドします。</span>
        <span class="bold">日本に興味をもってくれている海外の方とコミュニケーションをとれるのはとっても楽しいです！</span>
        </p>
        <p>ではここからは、そのセクションキャンプの具体的な流れについて説明します。</p>
        <p><span class="check under1 bold">準備編</p>
        <p><span class="bold">4,5人のグループごとに、金閣寺や清水寺などのガイドする場所を調べ、
        わかりやすいようにイラストを用意したり、クイズを準備します。</span></p>
        <p>どんな質問がきても対応出来るように万全に行います。実際に、ガイドしている自分を想像しながらの準備はわくわくです！！
        </p>
        <p>ではここからは、準備を終えた当日の流れを見ていきましょう！</p>
        <p><span class="under1 bold">1日目：ガイド地の下見</span></p>
        <p>実際に、事前にグループメンバーで決めたガイド地に行き、その場所の管理人の方にご挨拶をします。
        また、<span class="bold">観光客の方がいることを仮定してリハーサルを行います。</span>時間が余れば、京都付近を観光します。</p>
        <p><span class="under1 bold">2日目：ガイド＆打ち上げ</span></p>
        <p>ようやく本番がやってきました！ここで1番緊張するのは、観光客の方に英語で「ガイドしてもいいですか？」と声をかけることなのですが、
        <span class="bold">笑顔でYes!と応えてくださるとものすごく嬉しいです！</span></p>
        <p>ガイド中は、観光地の説明はもちろん、雑談などいろいろな話で盛り上がります。
        <span class="bold">記念に写真を撮ったり、インスタを交換したりと思い出もたくさん残します。</span>
        </p>
        <p><span class="bold">ガイドがおわったらみんなで打ち上げに行きます！</span>
        2019年はしゃぶしゃぶでした。打ち上げでは、ディナーを楽しみながら、ガイドした感想を語り合います。
        先輩も仲良くなれるチャンスだったりします笑</p>
        <p><span class="under1 bold">3日目：観光</span></p>
        <p><span class="bold">最終日は自由に観光します！</span>かき氷を食べたり、着物を着たり、
        京都から足を伸ばして大阪に観光していた人もいました！<span class="bold">きっと皆さんの大学時代のとても良い夏の思い出になりますよ！</span>
        </p>
        <p>※2020年はコロナの影響で中止になりました。</p>
        <h3>2.3  ガイドコンテスト</h3>
        <p><span class="under bold">ガイドコンテストは、テーマに沿って旅行のプランを考え、英語で発表するコンテストです。</span>
        グループごとの発表で1～3位には景品もあります！2019年のテーマは『来年の春キャンプを設計しよう』でした。</p>
        <p>ではここからは、ガイドコンテストの魅力について3つご紹介します！</p>
        <p><span class="under1 bold">1．英語能力を試せる</span></p>
        <p>自分の英語ってどれぐらい通じるんだろう？って感じることありますよね。ガイドコンテストの審査員は、
        <span class="bold">先輩方となんと外国人の先生方！</span>
        私は<span class="bold">英語の発音を先生に直接褒めてもらえて大きな自信に繋がりました。</span></p>
        <p><span class="under1 bold">2．プランニングしてプレゼンする経験が出来る</span></p>
        <p>コンテストで発表するまでにたくさんの準備が必要です。<span class="bold">テーマに沿って行き先を決め、
        ホテルの位置や値段、移動手段や時間までしっかりと計画を練ります。</span></p>
        <p>また、<span class="bold">英語も伝わりやすいように何度も練習し、ジェスチャーも含め伝わりやすいプレゼンを作り上げるのです。</span>
        私は、このコンテストのために何時間も費やしました。<span class="bold">だからこそ、達成感を味わうことが出来ました！</span>
        この経験は一生ものだなあと実感しています。</p>
        <p><span class="under1 bold">3．自分のやってみたいことが増える</span></p>
        <p>他の人の発表を見ると、「私も行きたい！」となるツアーに出会えます。また、外国人の先生と話す機会にもなります！
        私は、海外の人の視点からみた日本の観光地やガイドブックについて話しました。日本のガイドブックは食べ物が多いみたいですよ（笑）</p>
        <h2>3. メンバー</h2>
        <h3>3.1 英語系の学部の人が多い？</h3>
        <div class="row">
        <div id="chart_div" style="width: 100%; height: 45rem; overflow: hidden;" class="graph"></div>
        <p>Guideセクションでは実際に海外の観光客の方と関わり、ガイドするだけあって英語を専門とする学部の人で溢れているんじゃないのかな？
          そんな不安を抱えている方がいるかもしれません。
        </p>
        <p>ご安心ください！<span class="bold">英語系の学部でない人もたくさんESSに所属しているんです！</span></p>
        <h3>3.2 男女比は？</h3>
        <div id="chart_div1" style="width: 100%; height: 45rem; overflow: hidden;" class="graph"></div>
        <p>グラフを見てもわかる通り男子の割合が若干多いですね。2019年度までは女子の方が多かったのですが、2020年度はたくさん男子が
          入ってくださったので、男子の割合が少し上回りました。
        </p>
        <p>2020年度の1年生女子は今の時点では1人しかいないので、まだまだESSのメンバーは募集していますので
        男女ともに皆さんの参加をお待ちしております！
        <span class="bold">南山大学ESSでは男女の境なく、わいわい仲良く活動をしています！</span>
        </p>
        <h3>3.3 何年次が多い？</h3>
        <div id="chart_div2" style="width: 100%; height: 45rem; overflow: hidden;"></div>
        <p><span class="under">Guideセクションでは2年生・1年生中心に活動しています。</span></p>
        <p>3年生からは就活が始まるので、実質的には2年次にESSのGuideセクションを引退する形になります。
          <span class="bold">2年生の早い段階で、上のポジションの仕事を経験できるのは貴重だと思います!</span>
        </p>
        <p>2020年度の2年生は8人、1年生は7人といった人数構成になっています。</p>
        </p>
        </div>

    </div>
    <!--メインここまで-->
    <!--ここからサイド-->
    <aside id="sidebar" class="col-sm-4">
      <div id="sidebar_sub">
        <div class="card">
            <div class="card-header">
              目次
            </div>
            <div class="card-body">
                <div class="side-letter"><a>1. 活動</a></div>
                <ul>
                    <a><li>1.1 活動日時・場所</li></a>
                    <a><li>1.2 コロナ禍での活動</li></a>
                    <a><li>1.3 コロナ以前の活動</li></a>
                </ul>
                <div class="side-letter"><a>2. イベント</a></div>
                <ul>
                    <a><li>2.1 BFG・BPG</li></a>
                    <a><li>2.2 セクションキャンプ</li></a>
                    <a><li>2.3 ガイドコンテスト</li></a>
                </ul>
                <div class="side-letter"><a>3. メンバー</a></div>
                <ul>
                    <a><li>3.1 英語系の学部の人が多い？</li></a>
                    <a><li>3.2 男女比は？</li></a>
                    <a><li>3.3　何年次が多い？</li></a>
                </ul>
            </div>
          </div>
     </aside>
    <!--サイドここまで-->
  </div>
 <!--wrapperここまで-->
 </div>
<!--containerここまで--><!--containerここまで-->







