<div class="guide"><h1>Guideセクション</h1></div>



<h2>活動日時・場所</h2>
<p>活動日時 : 月曜日 : 17:00～18:00・水曜日 : 15:00～16:00の週2で行っています。<br>
活動場所 : コロナ禍ではZoomで活動を行っていています。通常であれば大学内の教室を借りて活動をします。
</p>

<h2>コロナ禍での活動</h2>
<p><span class="bold">毎週月曜17:00～19:00と水曜の15:00～17:00に、Zoomミーティングによるオンラインでの活動を
行っています。活動内容はInstagramに毎回発信しています。</span>具体的には英語を用いたワードウルフやしりとりといったゲームアクティビティーや
南山大学内にある外国語コミュニケーションルームのWorld Plazaをリスペクトした英会話タイムなども設けて、英語でフリートークをしています。
<h2>コロナ以前の活動</h2>
<p>毎週月曜17:00～19:00と水曜の15:00～17:00に大学内の教室を借りて活動を行っていました。学内でのガイド活動もありましたが、夏休み期間に行う
セクションキャンプや、年に数回行うBFG(Basic Field Guide)を筆頭とする学外イベントでは我々学生が引率を行いました。イベントの都合上練習の
方が多いですが、本番のやりがいと楽しさはたまらないですよ！
</p>



